@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
h2,h4{
    font-family: 'Comfortaa', cursive;
    color: #142b47;
    font-weight: bold;
}
.marquee-container {
  width: 100%;
  height: 50px;
  overflow: hidden;
}
body {
  background: linear-gradient(90deg, #d0f0e8 0%,#d0f0e8 0%); 
}
.marquee {
  animation: marquee 30s linear infinite;
  white-space: nowrap;
}
@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
  /* In your home.css file */

.hom_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .hom_btn {
    flex-direction: column;
  }
}
.container {
    display: flex;
    justify-content: space-between;
}

.card-container {
    flex: 1;
    margin-top: 15%;
}


.image-container {
    flex: 1;
    margin-top: 7%;

}

.side-image {
    float: right;
    width: 120%;
    border-radius: 20%
    ;
}
.glow-on-hover{
  background-color: #142b47;
  border: #142b47;
}
